html, body, header, #intro {
    height: 100%;
}

#intro {
    background: url("https://scontent-sin2-2.xx.fbcdn.net/v/t31.0-8/25790953_1724603284240576_4101397374902466203_o.jpg?_nc_cat=109&_nc_oc=AQnHCuHaQezv0jQOEn3-YmSIhCqLndpLOXFokAHcddMZl5fEoYBE5uKu-UgcFRGLirw&_nc_ht=scontent-sin2-2.xx&oh=9bcfb7ffe0f7b886311a1f7cbe0d512f&oe=5E0488C4") no-repeat center center fixed;
    background-size: cover;
}