html, body, header, #intro {
    height: 100%;
}

/*
@supports (-webkit-overflow-scrolling: touch) {
    #intro {
        background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("Cover.jpg") no-repeat center center scroll;
        background-size: cover;
    }
}
*/

#intro {
    background: url("Cover.jpg") no-repeat center center fixed;
    background-size: cover;
}


html {
  scroll-behavior: smooth;
}
